<nz-tabset>
  <nz-tab nzTitle="全部">
    <div *ngIf="dataList_all.length;else nodata" class="feature-course">
      <ul class="course-list clearfix">
        <li *ngFor="let item of dataList_all">
          <a href="#/admin/student/my-course/detail?courseId={{item.id}}&courseName={{ item.course_name }}&teacher={{ item.teacher_name }}&fileid={{item.fileid}}&tid={{item.teacherUserId}}">
            <img [src]="this.imgPrefix+item.fileid" />
            <div class="bottom">
              <div class="course-name">{{ item.course_name }}</div>
              <div class="course-date">
                <span>{{ item.start_date }} 至 {{ item.end_date }}</span>
                <span class="update-section">{{ item.updateSection }}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <nz-pagination [nzPageIndex]="page_all" [nzTotal]="total_all" nzShowQuickJumper></nz-pagination>
    </div>
    <ng-template #nodata>
      <app-no-data></app-no-data>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="正在进行">
    <div *ngIf="dataList_underway.length;else nodata" class="feature-course">
      <ul class="course-list clearfix">
        <li *ngFor="let item of dataList_underway">
          <a href="#/admin/student/my-course/detail?courseId={{item.id}}&courseName={{ item.course_name }}&teacher={{ item.teacher_name }}&fileid={{item.fileid}}&tid={{item.teacherUserId}}">
            <img [src]="this.imgPrefix+item.fileid" />
            <div class="bottom">
              <div class="course-name">{{ item.course_name }}</div>
              <div class="course-date">
                <span>{{ item.start_date }} 至 {{ item.end_date }}</span>
                <span class="update-section">{{ item.updateSection }}</span>
              </div>
              <div class="teacher-name">{{ item.teacher_name }}</div>
            </div>
          </a>
        </li>
      </ul>
      <nz-pagination [nzPageIndex]="page_underway" [nzTotal]="total_underway" nzShowQuickJumper></nz-pagination>
    </div>
    <ng-template #nodata>
      <app-no-data></app-no-data>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="已经结束">
    <div *ngIf="dataList_finish.length;else nodata" class="feature-course" class="feature-course">
      <ul class="course-list clearfix">
        <li *ngFor="let item of dataList_finish">
          <a href="#/admin/student/my-course/detail?courseId={{item.id}}&courseName={{ item.course_name }}&teacher={{ item.teacher_name }}&fileid={{item.fileid}}&tid={{item.teacherUserId}}">
            <img [src]="this.imgPrefix+item.fileid" />
            <div class="bottom">
              <div class="course-name">{{ item.course_name }}</div>
              <div class="course-date">
                <span>{{ item.start_date }} 至 {{ item.end_date }}</span>
                <span class="update-section">{{ item.updateSection }}</span>
              </div>
              <div class="teacher-name">{{ item.teacher_name }}</div>
            </div>
          </a>
        </li>
      </ul>
      <nz-pagination [nzPageIndex]="page_finish" [nzTotal]="total_finish" nzShowQuickJumper></nz-pagination>
    </div>
    <ng-template #nodata>
      <app-no-data></app-no-data>
    </ng-template>
  </nz-tab>
</nz-tabset>
