<nz-tabset>
  <nz-tab nzTitle="资料设置">
    <div class="data-set-box">
      <div style="width: 60%;float: left;">
        <form nz-form [formGroup]="form" role="form" style="margin-left: 5%;">
          <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
          <nz-form-item>
            <nz-form-label class="justify-align" [nzSm]="4" [nzXs]="24" nzRequired nzFor="userAccount">
              昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input formControlName="userAccount" readonly nz-input placeholder="请填写您的昵称">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">您的姓名</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input formControlName="name" nz-input placeholder="请填写您的真实姓名">
              <nz-form-explain *ngIf="form.get('name').dirty&&form.get('name').errors">
                请填写您的真实姓名
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="justify-align" [nzSm]="4" [nzXs]="24">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别&nbsp;
            </nz-form-label>
            <nz-radio-group formControlName="sex" style="line-height: 39px;">
              <label nz-radio nzValue="1">男</label>
              <label nz-radio nzValue="2">女</label>
              <nz-form-explain style="color: red;" *ngIf="form.get('sex').dirty&&form.get('sex').errors">
                请填写您的性别
              </nz-form-explain>
            </nz-radio-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>出生日期</nz-form-label>
            <nz-date-picker formControlName="birthday"></nz-date-picker>
            <nz-form-explain style="color: red;" *ngIf="form.get('birthday').dirty&&form.get('birthday').errors">
              请填写您的出生日期
            </nz-form-explain>
          </nz-form-item>
  
      
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="idCard">身份证号</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input formControlName="idCard" nz-input placeholder="请填写您的身份证号">
              <nz-form-explain *ngIf="form.get('idCard').dirty&&form.get('idCard').errors">
                请填写您的身份证号
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          
           <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="certificateCode">教师证号</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input nz-input formControlName="certificateCode" placeholder="请输入您的教师资格证号码">
            </nz-form-control>
          </nz-form-item> 
  
          <nz-form-item *ngIf="college && college !== null && college !== ''">
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>省市院校</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <ths-colleges-select (selectFinish)="selectFinish($event)" [names]="schools" [isShowLable]='false'
                [nzInputSpan]=24></ths-colleges-select>
              <!-- <nz-form-explain style="color: red;" *ngIf="!college || college === null || college === ''">
                请填写省市院校
              </nz-form-explain> -->
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="!college || college === null || college === ''">
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>省市院校</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <ths-colleges-select (selectFinish)="selectFinish($event)"  [isShowLable]='false'
                [nzInputSpan]=24></ths-colleges-select>
              <!-- <nz-form-explain style="color: red;" *ngIf="!college || college === null || college === ''">
                请填写省市院校
              </nz-form-explain> -->
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="profession">
              专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input formControlName="profession" nz-input placeholder="请填写专业">
              <nz-form-explain style="color: red;" *ngIf="!profession">
                请填写专业
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="teacherProfession">所授专业</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input formControlName="teacherProfession" nz-input placeholder="请填写所授专业">
              <nz-form-explain style="color: red;" *ngIf="!teacherProfession">
                请填写所授专业
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
  
  
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="honor">所获荣誉</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <textarea formControlName="honor" nz-input rows="8" placeholder="请输入课程所获荣誉"></textarea>
            </nz-form-control>
          </nz-form-item>
  
  
  
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="subjectResult">学科成果</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <textarea formControlName="subjectResult" nz-input rows="8" placeholder="请输入课程学科成果"></textarea>
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="signature">个人介绍</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <textarea formControlName="signature" nz-input rows="8" placeholder="请输入个人介绍"></textarea>
            </nz-form-control>
          </nz-form-item>
  
          
  
          <nz-form-item>
            <button nz-button nzType="primary" [nzLoading]="isLoading"  (click)="submit()" type="submit" class="submit">
              <span>保存</span>
            </button>
          </nz-form-item>
        </form>
      </div>
      <div style="float: right;width: 39%;">
        <div style="width: 100%;text-align: center;">
          <nz-avatar nzSize="large" *ngIf="headImgBase64 != ''"
            [nzSrc]="this.sanitizer.bypassSecurityTrustResourceUrl(headImgBase64)"></nz-avatar>
        </div>
        <div style="width: 100%;text-align: center;margin-top: 20px;">
          <nz-upload [nzAction]="uploadAddress" [nzFileList]="headImgList" [nzBeforeUpload]="beforeUpload"
            [nzData]="headFileParam" (nzChange)="handleUploadChange($event)" [nzShowUploadList]="false">
            <button nz-button nzType="primary">界面头像修改</button>
          </nz-upload>
        </div>
        <div style="width: 100%;margin-top: 50px;">
          <img *ngIf="teacherImgBase64 != ''" [src]="this.sanitizer.bypassSecurityTrustResourceUrl(teacherImgBase64)"
            style="width: 50%;height: 300px;margin-left: 25%;">
        </div>
  
        <div style="width: 100%;text-align: center;margin-top: 20px;">
          <nz-upload [nzAction]="uploadAddress" [nzFileList]="headImgList" [nzBeforeUpload]="beforeUpload"
            [nzData]="teacherFileParam" (nzChange)="handleUploadChange($event)" [nzShowUploadList]="false">
            <button nz-button nzType="primary">讲师头像修改</button>
          </nz-upload>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="账号设置">
    <div class="account-set-box">
      <div class="section">
        <div class="item">
          <div class="flex-item">
            <span class="label">教师资格证</span>
            <span class="tip">教师资格证{{ !verifyState ? '未验证' : (verifyState===1 ? '审核中' : '验证通过')}}</span>
          </div>
          <span *ngIf="verifyState!==1" class="btn">{{ !verifyState ? '验证' : (verifyState===2 ? '修改' : '')}}</span>
        </div>
        <div class="item">
          <div class="flex-item">
            <span class="label">登录密码</span>
            <span class="tip">密码由大写字母、小写字母、数字、特殊字符中任意三种组成，长度为 8-32 位</span>
          </div>
          <span class="btn">修改</span>
        </div>
        <div class="item">
          <div class="flex-item">
            <span class="label">手机账号</span>
            <span class="tip">手机账号已绑定158********</span>
          </div>
          <div class="flex-item">
            <span class="unbind btn" style="margin-right: 10px;">解绑</span>
            <span class="btn">修改</span>
          </div>
        </div>
        <div class="item">
          <div class="flex-item">
            <span class="label">邮箱账号</span>
            <span class="tip">邮箱账号{{ isBind ? '已' : '未' }}绑定</span>
          </div>
          <span class="btn" [ngClass]="{ 'unbind': isBind }">{{ isBind ? '解绑' : '绑定' }}</span>
        </div>
      </div>
      <div class="section">
        <div class="title">第三方账号绑定:</div>
        <div class="third-party-box">
          <div class="item">
            <div class="flex-item">
              <img src="/assets/icons/wx-2x.png" class="icon">
              <span class="label">微信</span>
            </div>
            <span class="tip">{{ isBind ? '已' : '未' }}绑定</span>
            <span class="btn" [ngClass]="{ 'unbind': isBind }">{{ isBind ? '解绑' : '绑定' }}</span>
          </div>
          <div class="item">
            <div class="flex-item">
              <img src="/assets/icons/QQ-2x.png" class="icon">
              <span class="label">QQ</span>
            </div>
            <span class="tip">{{ isBind ? '已' : '未' }}绑定</span>
            <span class="btn" [ngClass]="{ 'unbind': isBind }">{{ isBind ? '解绑' : '绑定' }}</span>
          </div>
          <div class="item">
            <div class="flex-item">
              <img src="/assets/icons/wb-2x.png" class="icon">
              <span class="label">微博</span>
            </div>
            <span class="tip">{{ isBind ? '已' : '未' }}绑定</span>
            <span class="btn" [ngClass]="{ 'unbind': isBind }">{{ isBind ? '解绑' : '绑定' }}</span>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="title">订阅智慧云推送的精彩内容:</div>
        <div class="subscription-box">
          <label nz-checkbox>课程更新提醒，第一时间跟上学习进度。</label>
          <label nz-checkbox>新课上架提醒，好课不容错过！</label>
          <label nz-checkbox>作业考试认证提醒，完成课程要求。</label>
          <label nz-checkbox>更具个人操作行行为，自动触发邮件状态提醒（如找回密码等）。</label>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
