<nz-tabset>
  <nz-tab nzTitle="专题课程">
    <div class="feature-course">
      <div *ngIf="dataList.length;else nodata" >
        <ul class="course-list clearfix">

          <li *ngFor="let item of dataList">
            <a href="#/course/detail?courseId={{item.eduCourseId}}">
              <img *ngIf="item.urlId !== null && item.urlId !== '';else errorImg" [src]="this.imgPrefix + item.urlId" />
              <div class="bottom">
                <div class="course-name">{{ item.eduCourseName }}</div>
                <div class="course-date">
                  <span>{{ item.startDate|date:"yyyy-MM-dd" }} 至 {{ item.endDate|date:"yyyy-MM-dd"}}</span>
                  <!-- <span class="update-section">{{ item.updateSection }}</span> -->
                </div>
                <div class="teacher-name">{{ item.teacherName }}</div>
              </div>
            </a>
          </li>
        </ul>
        <nz-pagination [(nzPageIndex)]="page" [nzPageSize]="size" [nzTotal]="total" (nzPageIndexChange)="nextPage()" nzShowQuickJumper></nz-pagination>
      </div>
      <ng-template #nodata >
        <app-no-data></app-no-data>
      </ng-template>
    </div>
  </nz-tab>
  <ng-template #errorImg>
    <img src="/assets/images/u131.png">
  </ng-template>
  <!-- <nz-tab nzTitle="最火">
    <div class="feature-course">
      <ul class="course-list clearfix">
          <li *ngFor="let item of dataList_popular" >
              <img [src]="item.courseCoverUrl" />
              <div class="bottom">
                <div class="course-name">{{ item.course_name }}</div>
                <div class="course-name">{{ item.start_date }} 至 {{ item.end_date }}</div>
                <div class="course-name">{{ item.updateSection }}</div>
                <div class="course-name">{{ item.teacher_name }}</div>
              </div>
          </li>
      </ul>
      <nz-pagination [nzPageIndex]="page_popular" [nzTotal]="total_popular" nzShowQuickJumper></nz-pagination>
  </div>
  </nz-tab> -->
</nz-tabset>
