<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">后台管理系统</span>
      </div>
      <div class="desc"></div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2011-2018
      <a href="http://www.thsware.com" target="_blank">深圳市斯维尔科技股份有限公司</a>
    </global-footer>
  </div>
</div>
