<div class="protocol">
  <div class="protocol-content">
    <h2>《教育云注册协议》</h2>
    {{recond}}

    <!-- <p class="attention">
      <strong>【注意】</strong>
      欢迎申请使用网易公司提供的服务。请您（下列统称为“用户”）仔细阅读以下全部内容（特别是粗体下划线标注的内容）。
      如用户不同意本服务条款任意内容，请勿注册或使用网易服务。如用户通过进入注册程序并勾选“我同意网易手机帐号服务条款”，即表示用户与网易公司已达成协议，自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。
    </p>

    <div class="protocol-item">
      <h3>1.服务条款的确认和接纳</h3>
      <p>
        网易服务涉及到的网易产品的所有权以及相关软件的知识产权归网易公司所有。网易公司所提供的服务必须按照其发布的公司章程，服务条款和操作规则严格执行。本服务条款的效力范围及于将网易手机帐号作为登录帐号的网易产品和服务（以下简称“网易各单项服务”），用户在享受网易各单项服务时，应当受本服务条款的约束。
      </p>
      <p>
        当用户使用网易各单项服务时，用户同意以单项服务要求的方式同意该单项服务的服务条款以及网易公司在该单项服务中发出的各类公告（下列简称为“单项条款”），在此情况下单项条款与本服务条款同时对用户产生效力。若单项条款与本服务条款存在同类条款的冲突，则在单项条款约束范围内应以单项条款为准。
      </p>
    </div>

    <div class="protocol-item">
      <h3>2.网易手机帐号服务简介</h3>
      <p>
        网易服务涉及到的网易产品的所有权以及相关软件的知识产权归网易公司所有。网易公司所提供的服务必须按照其发布的公司章程，服务条款和操作规则严格执行。本服务条款的效力范围及于将网易手机帐号作为登录帐号的网易产品和服务（以下简称“网易各单项服务”），用户在享受网易各单项服务时，应当受本服务条款的约束。
      </p>
      <p>
        当用户使用网易各单项服务时，用户同意以单项服务要求的方式同意该单项服务的服务条款以及网易公司在该单项服务中发出的各类公告（下列简称为“单项条款”），在此情况下单项条款与本服务条款同时对用户产生效力。若单项条款与本服务条款存在同类条款的冲突，则在单项条款约束范围内应以单项条款为准。
      </p>
    </div>

    <div class="protocol-item">
      <h3>3.网易手机帐号注册规则</h3>
      <p>
        网易服务涉及到的网易产品的所有权以及相关软件的知识产权归网易公司所有。网易公司所提供的服务必须按照其发布的公司章程，服务条款和操作规则严格执行。本服务条款的效力范围及于将网易手机帐号作为登录帐号的网易产品和服务（以下简称“网易各单项服务”），用户在享受网易各单项服务时，应当受本服务条款的约束。
      </p>
      <p>
        当用户使用网易各单项服务时，用户同意以单项服务要求的方式同意该单项服务的服务条款以及网易公司在该单项服务中发出的各类公告（下列简称为“单项条款”），在此情况下单项条款与本服务条款同时对用户产生效力。若单项条款与本服务条款存在同类条款的冲突，则在单项条款约束范围内应以单项条款为准。
      </p>
      <p>

        用户在注册网易手机帐号时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在网易手机帐号注册资料中出现违法和不良信息，且用户保证其在注册和使用帐号时，不得有以下情形：

      </p>
      <ul class="roles">
        <li>（1）违反宪法或法律法规规定的；</li>
        <li>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
        <li>（3）损害国家荣誉和利益的，损害公共利益的；</li>
        <li>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</li>
        <li>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
        <li>（6）散布谣言，扰乱社会秩序，破坏社会稳定的</li>
        <li>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
        <li>（8）侮辱或者诽谤他人，侵害他人合法权益的；</li>
        <li>（9）含有法律、行政法规禁止的其他内容的。</li>
      </ul>

      <div class="close" (click)="goback()">阅读完毕，关闭窗口</div>

    </div> -->
    <div class="close" (click)="goback()">阅读完毕，关闭窗口</div>
  </div>
</div>
